<h2 class="container-form"> Login</h2>

<div class="container-form">

<form action="/login" method="post">
<div>
  <input type="text" name="email" class="container-form" placeholder="user@example.org" aria-label="User email">
</div>

<div>
  <input type="password" name="password" class="container-form" placeholder="password" aria-label="User email">
</div>

 <div class="container-form">
  <button type="submit">Login</button>
</div>

 {{!-- <div class="d-grid gap-2 mt-2">
        <a href="/login/google" class="btn btn-danger border-0">
          <i class="fa fa-google"></i>Login with Google
        </a>
      </div> --}}


</form>
</div>