<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/iron-comics/public/styles/style.css" rel="stylesheet" type="text/css">
</head>
<nav>
  <!-- <img class="logo_nav" src="/iron-comics/public/image/logoIronComic_final copia.png"/> -->
  <img class="logo_nav" src="/iron-comics/public/image/logoIronComic_final_hexagono copia.png"/>
  
  <a><img />IMAGEN PERFIL</a>  
  <a>Explorar</a>
  <a>Perfil</a>
</nav>
<body>
        
</body>
</html>