<body>
    <header>
        <nav>
          <img src="/iron-comics/public/image/logoIronComic_final copia.png"/>
            <a>Perfil</a>
            <a>Explorar</a>
        </nav>
    </header>
</body>