<h2 class="container-form"> Register</h2>

<form action="/register" method="post">
  <div class="container-form">
    <input type="text" name="name" class="container-form" placeholder="Name" aria-label="User name">
  </div>

  <div class="container-form">
    <input type="text" name="email" class="container-form" placeholder="user@example.com" aria-label="User name">
  </div>

  <div class="container-form">
    <input type="password" name="password" class="container-form" placeholder="password" aria-label="User name">
  </div>

  <div class="container-form">
    <button type="submit">Register</button>
  </div>


</form>