<footer>

  <h1>Footer</h1>

    <div id="colum left">
        <div id="left">
            <h7><b>Alejandro García - </b></h7>
            <h8>https://github.com/AlejandroGC1990</h8>
        </div>
        <div id="left">
            <h7><b>Oscar Sangrador - </b></h7>
            <h8>https://github.com/oscarsangpa</h8>
        </div>
    </div>
    <div id="right">
        <h8><b>IronHack</b> Madrid/España -</h8>
        <h8>2021/2022</h8>
    </div>

</footer>