<footer>
    <div id="colum left">
        <div id="left">
            <h7>
                <a href="https://github.com/AlejandroGC1990" target="_blank">
                <b>Alejandro García </b>
                </a>
            </h7>
             <h7>

        </div>
        <div id="left">
                <a href="https://github.com/oscarsangpa" target="_blank">
                <b>Oscar Sangrador </b>
                </a>
            </h7>
        </div>
        <div id="right">
            <h8><b>IronHack</b> Madrid/España -</h8>
            <h8>2021/2022</h8>
        </div>
    </div>
</footer>