
{{!-- <h1> navbar </h1> --}}
{{!-- {{#if current.user}} --}}
<nav>
  <!-- <img class="logo_nav" src="/iron-comics/public/image/logoIronComic_final copia.png"/> -->
  {{!-- <img class="logo_nav" src="/iron-comics/public/image/logoIronComic_final_hexagono copia.png"/> --}}
  
  <div>
      <img src="/image/usuarioSinFotoPerfil.png"/> 

      <div>
        <button>Explorar</button>
        <button>NICK DEL USUARIO</button>
        <!-- La idea es clicar en el nick para que te lleve a tu perfil  -->
      </div>  
  </div>

</nav>
{{!-- {{/if}} --}}