<nav>
  {{!-- {{#if current.user}} --}}
  
  <div>
      <img src="/image/usuarioSinFotoPerfil.png"/> 
      <div>
        <button>Explorar</button>
      </div>  
  </div>
  {{!-- {{/if}} --}}

  <div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

  <div>
    <button>Login</button>
    <button>Register</button>
  </div>
 
</nav> 

