
<h1 id="color-text"> WELCOME TO IRON-COMICS! </h1>
<h2> Welcome to iron-comics! </h2>

{{!-- <a href="/login">LOGIN</a> --}}
</br>
<a href="/register">REGISTER</a>
</br>
<a href="/profile">PROFILE</a>
</br>
<a href="/list-comics">LIST COMICS</a>
</br>
<a href="/detail-comic">DETAIL COMIC</a>

<body>
    <div>
        {{!-- <img src="image/logoIronComic_final copia.png" class="logo-login_register"/> --}}
        <img src="/image/logoIronComic_final_hexagono copia.png" class="logo-login_register"/>
    </div>
    <div class="bocadillo-redondo">
        {{!-- <a href="/login" class="centrar-letras">LOGIN</a> --}}
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="" method="post">
                                <br>
                                <h3 class="text-center #color-text">Login</h3>
                                <br>
                                <div class="form-group">
                                    <label for="username" class="#color-text">Username:</label><br>
                                    <input type="text" name="username" id="username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="#color-text">Password:</label><br>
                                    <input type="text" name="password" id="password" class="form-control">
                                </div>
                                <div class="centrar">
                                    <div class="form-group" id="arrejuntar">
                                        <br>
                                        {{!-- <label for="remember-me" class="#color-text"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br> --}}
                                        <input type="submit" name="submit" class="btn btn-info btn-md" id="button-color-red" value="Submit">
                                    </div>
                                    <br>
                                    <div id="register-link" class="text-right">
                                        <a href="/register" id="color-text">Register here</a>
                                        <a href="/login/google" class="text-info">Login Google</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
