<h2> Welcome to iron-comics! </h2>

<a href="/login">LOGIN</a>
</br>
<a href="/register">REGISTER</a>
</br>
<a href="/profile">PROFILE</a>
</br>
<a href="/list-comics">LIST COMICS</a>
</br>
<a href="/detail-comic">DETAIL COMIC</a>

