body {
    background-color: rgb(81,140,202);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

colores {
  background-color: #e23636;
  background-color: #000000;
  background-color: #504a4a;
  background-color: #f78f3f;
}

/* Centrar contenido bocadillo*/
.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Centrar "Submit" y "Register here" */
#arrejuntar {
  
  margin-top: -10px;
  margin-bottom: -10px;
}

/* Bocadillo */
.bocadillo-redondo {
  margin-top: 50px;
  position: relative;
  height: 325px;
  width: 650px;
  background: white;
  border-radius: 50%;
  box-shadow: 1px 12px 33px  #f78f3f;
}

.bocadillo-redondo:before {
  border: 25px solid white;
  content: '';
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: -5px;
  right: 75px;
  transform: rotate(-22deg);
}

.bocadillo-redondo-register {
  margin-top: 50px;
  position: relative;
  height: 375px;
  width: 650px;
  background: white;
  border-radius: 50%;
  box-shadow: 1px 12px 33px  #f78f3f;
}

.bocadillo-redondo-register:before {
  border: 25px solid white;
  content: '';
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: 5px;
  right: 75px;
  transform: rotate(-22deg);
}

#button-color-red{
  background-color: #e23636;
  border-bottom: #504a4a;
}

.container-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#color-text {
  text-decoration-color: #504a4a;
}

/* Logo */
.logo-inicio_register {
  margin: 25px 25px 0;
  height: 300px;
}