
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin: 0;
  background-color: rgb(81,140,202);
}

.header_logo {
  height: 148px; 
}

nav {
  /* margin-top: -340px; */
  width: 100%;
  height: 35px;
  /* position: fixed; */
  background-color: #504a4a;
  /* border-color: #f78f3f; */
  /* border-width: 25px; */
  /* align-items: center; */
  /* justify-content: space-between; */
  z-index: 1;
}

.logo_nav {
  height: 130px;
  margin: 5px;
}

nav > div {
  margin-right: 10px;
  float: left;
  display: flex;
  flex-direction:row;
  align-items: center;
}

nav > div > img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #f78f3f;
  margin-top: -35px;  
  margin-left: 67px;
  margin-right: 5px;
}

nav > div > div > button {
  margin-left: 5px;
  margin-bottom: 30px;
}



.underNav {
  margin-top: 100px;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration-color: #504a4a;
  width: 100%;
  margin: 0;
}

footer {
  border-color: #504a4a;
  border-top-width: 3px;
  border-style: solid;
  background-color: rgb(144, 174, 206);
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0px;
}

footer > div {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
}

#left {
  float: left;
  margin-right: 25px;
  margin-left: 25px;
}

#right {
  float: right;
  margin-right: 25px;
  margin-left: 25px;
}

#colum {
  flex-direction: column;
}

colores {
  background-color: #e23636;
  background-color: #000000;
  background-color: #504a4a;
  background-color: #f78f3f;
  background-color: rgb(81,140,202);
}

/* Centrar contenido bocadillo*/
.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Centrar "Submit" y "Register here" */
#arrejuntar {
  
  margin-top: -10px;
  margin-bottom: -10px;
}

/*Tarjeta login-register*/

.boxCard {
  width: 40%;
}

/* Bocadillo */
.bocadillo-redondo {
  margin-top: 50px;
  position: relative;
  height: 325px;
  width: 650px;
  background: white;
  border-radius: 50%;
  box-shadow: 1px 12px 33px  #f78f3f;
}

.bocadillo-redondo:before {
  border: 25px solid white;
  content: '';
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: -5px;
  right: 75px;
  transform: rotate(-22deg);
}

.bocadillo-redondo-register {
  margin-top: 50px;
  position: relative;
  height: 375px;
  width: 650px;
  background: white;
  border-radius: 50%;
  box-shadow: 1px 12px 33px  #f78f3f;
}

.bocadillo-redondo-register:before {
  border: 25px solid white;
  content: '';
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: 5px;
  right: 75px;
  transform: rotate(-22deg);
}

#color-text {
  text-decoration-color: #504a4a;
}

/*Botones*/

.google-button {
  padding: 6px 10px;
  -webkit-border-radius: 2px 2px;
  border-radius: 2px 2px;
  border: solid 1px rgb(153, 153, 153);
  background: webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255,255)), to(rgb(221, 221, 221)));
  background: gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
  color: #333;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(255,255,255,1);
  -webkit-text-shadow: 0px 1px 1px rgba(255,255,255,1);
  line-height: 1;
}

#button-color-red{
  background-color: #e23636;
  border-bottom: #504a4a;
}

.container-form {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Logo */

.logo-login_register {
  margin: 25px 25px 0;
  height: 250px;
}


/* 

Nav

nav {
  margin-top: px;
  width: 100%;
  height: 140px;
  position:absolute;
  background-color: #504a4a;
  border-color: #f78f3f;
  border-width: 25px;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.logo_nav {
  height: 130px;
  margin: 5px;
}
/* 
nav > div {
  margin-right: 10px;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav > div > img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: rgb(81,140,202);
  margin-top: 5px;
  margin-bottom: 5px;  
  margin-left: 67px;
} */
/* 
nav > div > button {
  margin-right: 50px;
}

.underNav {
  margin-top: 100px;
}
#color-text {
  text-decoration-color: #504a4a;
} */

/* .img-width {
  width: 250px;
} */ 