<h1>by characters</h1>

{{#each comics}}
  <h2>{{this.title}}</h2>

   <img class="card-img-top" 
      src="{{this.thumbnail.path}}.{{this.thumbnail.extension}}" alt="{{this.title}}"/>
  
{{/each}}

